@use './styles/partials/mixins' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;


#root {
  width: 100%;
  max-width: 767px;
  margin: 0;
  text-align: center;
  @include tablet {
    max-width: 1279px;
  }
  @include desktop {
    min-width: 1280px;
  }
}
