@font-face {
  font-family: avenir-next-regular;
  font-weight: 700;
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-next-regular;
  font-weight: 400;
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-next-regular;
  font-weight: 600;
  src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf");
}
a {
  text-decoration: none;
}

.header {
  padding: 1rem;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 8rem 1rem 8rem;
  }
}
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper__logo {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header-wrapper__logo {
    display: block;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .search-section {
    display: flex;
  }
}
.search-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .search-section-wrapper {
    width: 60vw;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .search-section-wrapper {
    width: 36vw;
  }
}
.search-section-wrapper__input {
  width: 12rem;
  font-family: avenir-next-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  justify-content: center;
  height: 2.25rem;
  padding-left: 2.2rem;
  background-image: url(/src/assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.45rem;
  background-color: #FAFAFA;
  border-radius: 0.25rem;
  border: solid #E1E1E1 0.0625rem;
}
.search-section-wrapper__input::placeholder {
  color: #323232;
  justify-self: center;
}
.search-section-wrapper__input:focus {
  outline: solid #0095FF 0.0625rem;
}
@media screen and (min-width: 768px) {
  .search-section-wrapper__input {
    font-family: avenir-next-regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 30vw;
  }
}
@media screen and (min-width: 1280px) {
  .search-section-wrapper__input {
    width: 18vw;
  }
}
.search-section-wrapper__user {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
}
.search-section__button {
  font-family: avenir-next-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  height: 2.5rem;
  line-height: 2.25rem;
  width: 100%;
  background-color: #0095FF;
  border: 0px;
  border-radius: 0.25rem;
  color: #FFFFFF;
  background-image: url(/src/assets/icons/upload.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
}
@media screen and (min-width: 768px) {
  .search-section__button {
    display: none;
  }
}
.search-section__button-tablet {
  display: none;
  font-family: avenir-next-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  height: 2.25rem;
  line-height: 2.25rem;
  width: 9rem;
  background-color: #0095FF;
  border: 0px;
  border-radius: 0.25rem;
  color: #FFFFFF;
  background-image: url(/src/assets/icons/upload.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
}
@media screen and (min-width: 768px) {
  .search-section__button-tablet {
    display: block;
  }
}/*# sourceMappingURL=Header.css.map */