@font-face {
  font-family: avenir-next-regular;
  font-weight: 700;
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-next-regular;
  font-weight: 400;
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-next-regular;
  font-weight: 600;
  src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf");
}
.comment-section {
  padding: 1rem 1rem 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .comment-section {
    padding: 1rem 2rem 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment-section {
    width: auto;
    padding: 2rem 0 0 2rem;
  }
}
.comment-section__number {
  font-family: avenir-next-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin: 0%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .comment-section__number {
    font-family: avenir-next-regular;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: solid 2px #E1E1E1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .input {
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .input {
    justify-content: flex-start;
    border-bottom: none;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 2rem;
  }
}
.input-img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .input-img {
    margin: 0 1rem 0 0;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .input-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .input-wrapper {
    width: 50vw;
  }
}
.input-wrapper__text {
  width: 64vw;
  height: 2.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  resize: none;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  font-family: avenir-next-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.input-wrapper__text::placeholder {
  color: #323232;
  justify-self: center;
}
.input-wrapper__text:focus {
  outline: solid #0095FF 0.0625rem;
}
@media screen and (min-width: 768px) {
  .input-wrapper__text {
    width: 28rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .input-wrapper__text {
    width: 32rem;
  }
}
.input-wrapper__label {
  font-family: avenir-next-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #AFAFAF;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .input-wrapper__label {
    font-family: avenir-next-regular;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-size: 400;
    width: 30rem;
    height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .input-wrapper__label {
    width: 28rem;
  }
}
.input-wrapper__submit {
  font-family: avenir-next-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: #0095FF;
  border: none;
  color: #FFFFFF;
  height: 2.3rem;
  line-height: 2.3rem;
  border-radius: 4px;
  background-image: url(../../assets/images/add_comment.svg);
  background-repeat: no-repeat;
  background-position: 0.7rem center;
  background-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .input-wrapper__submit {
    font-family: avenir-next-regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 10rem;
    height: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .input-wrapper__submit {
    margin-top: 4rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }
}

.text-wrapper {
  width: 73vw;
}
@media screen and (min-width: 768px) {
  .text-wrapper {
    width: 30rem;
  }
}/*# sourceMappingURL=NewComment.css.map */